.titulo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.titulo h2 {
    width: 100%;
    color: red;
}

.titulo hr {
    width: 40%;
}