@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.bg {
    background-image: url("../img/paisaje.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed;
    /*Para que no se mueva el texto*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
}


/* Tablet */

@media screen and (max-width: 900px) {
    .bg-text {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-weight: bold;
        font-size: 35px;
        border: 10px solid #f1f1f1;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 50%;
        padding: 20px;
        text-align: center;
    }
}


/* Smartphone */

@media screen and (max-width: 400px) {
    .bg-text {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-weight: bold;
        font-size: 20px;
        border: 10px solid #f1f1f1;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 50%;
        padding: 20px;
        text-align: center;
    }
}