@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

header {
    background-image: url("../img/paisaje.jpg");
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subHeader {
    display: none
}

nav {
    overflow: hidden;
    background-color: #262626;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav a {
    float: left;
    display: block;
    color: #D8D8D8;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    width: 25%;
}

.openMenuBtn {
    display: none;
}

nav a:hover {
    background-color: #D8D8D8;
    color: #0C0C0C;
}


/* Movil menú */

.mobileMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    background-color: #262626;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.mobileMenu .linkMobile {
    display: block;
    color: white;
    text-align: center;
    padding: 5%;
    text-decoration: none;
}

.closeMenuBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1% 7%;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.mobileMenu .linkMobile:hover {
    background-color: #D8D8D8;
    color: #0C0C0C;
}

.closeMenuBtn:hover {
    transition: 0.5s;
    transform: scale(1.25);
}


/* Contenido Skills*/

.skills {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.progress-content {
    width: 100%;
    background-color: #ddd;
}

.progress-bar {
    /* Para mostrar el porcentaje a la derecha */
    text-align: right;
    /* Para centrar el contenido verticalmente */
    padding-top: 10px;
    /* Para centrar el contenido verticalmente */
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;
    /* Tamaño inicial de todas las barras */
    width: 0%;
}

.html {
    animation-name: html;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-color: black;
}


/* PC */

@media only screen and (min-width: 992px) {
    .subHeader {
        display: inline-block;
        background-color: skyblue;
        height: 60%;
        width: 70%;
    }
    .subHeader img {
        height: 100%;
        float: right;
    }
    .progress {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 75px auto;
        border: 1px solid black;
        padding: 1%;
    }
    .progress .progress-content {
        border: 1px solid black;
    }
    .progress img {
        width: 170px;
        border: 1px solid black;
        border-radius: 999px;
    }
}


/* Tablet */

@media screen and (max-width: 992px) {
    .skills {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .progress {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 50px auto;
        border: 1px solid black;
        padding: 1%;
    }
    .progress .progress-content {
        border: 1px solid black;
    }
    .progress img {
        width: 170px;
        border: 1px solid black;
        border-radius: 999px;
    }
}


/* Smartphone */

@media screen and (max-width: 666px) {
    .openMenuBtn {
        display: block;
        width: 15%;
        margin: auto;
    }
    nav a {
        display: none;
    }
    .skills {
        display: block;
    }
}

@keyframes html {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}